$font: "Helvetica Neue", sans;
$mono: Inconsolata, mono;

// Typography
$base-font-family: $font;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 14px;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$bg: #24353d;
$bg2: darken($bg, 5);
$text: #F0F0F0;
$action-color: #477dca;

$base-background-color: $bg;
$base-font-color: $text;




// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

@mixin caps{
	text-transform: uppercase;
	letter-spacing: .09em;
}
