// @import '~open-color/open-color.scss';

$textCol: #CCF
$bgCol: #333340
$line-height: 1.4
$line-height-rem: 1.4rem
$line-height-em: 1.4em

*
  box-sizing: border-box

body
  font-family: Atlas Grotesk, sans
  font-weight: 300
  background: $bgCol
  color: $textCol
  line-height: $line-height
  margin: 0
  padding: $line-height-rem

canvas
  display: block

