{
  "parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
  "env": {
    "browser": true
  },
  "rules": {
    "strict": 0,
    "no-console": "off",
    "no-param-reassign": "error",
    "react/prefer-stateless-function": "warn",
    "react/no-multi-comp": "off",
    "react/sort-comp": "off",
    "no-mixed-operators": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "class-methods-use-this": "warn",
    "arrow-parens": "off",
    "class-methods-use-this": "warn",
    "import/prefer-default-export": "warn",
    "react/prop-types": "off"
  },

  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ]
}